# Gradle files
.gradle/
build/
gradle-app.setting

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# OS-specific files
.DS_Store
Thumbs.db
gradle/libs.versions.toml
gradle.properties
gradlew
gradlew.bat
